version: '3'
#miraigo 的 cqhttp api 版本，linux环境的docker版本。
services:
  mirai-cqhttp:
    container_name: miraigo-cqhttp
    image: scjtqs/miraigo
    restart: always
    privileged: true
    tty: true
    ports:
      - 5700:5700
      - 6700:6700
    volumes:
      - ./mirai-data:/mirai
    environment:
       QQ: '123456789'
       PASSWORD: '123456789'
       TOKEN: 'token'
       POSTURL: 'https://www.qq.com'
       WS_REVERSE_SERVERS_ENABLE: 'false'
       WS_REVERSE_URL: 'ws://you_websocket_universal.server'
       WS_REVERSE_API_URL: 'ws://you_websocket_api.server'
       WS_REVERSE_EVENT_URL: 'ws://you_websocket_event.server'